@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-family: "Roboto", sans-serif;

  --color: #272722;
  --background-color: #ffffff;

  --background-btn-seeMore: #272727;
  --background-btn-ramdom: rgba(0, 0, 255, 0.656);

  --background-color--footer: #f1f1f1f1;
  --background-button-hover: rgba(188, 24, 186, 0.792);

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    gap: 1rem;
    background: linear-gradient(-105deg, black 50%, white 50%);
}

.footer-container nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
}

.footer-container nav ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: fit-content;
}

.footer-container nav ul > li {
    list-style: none;
    cursor: pointer;
    transition: all .3s ease;
}

.footer-container nav ul > li:first-child {
    width: 100%;
    font-size: 20px;
    font-weight: 500; 
}

.footer-container nav ul.item3 > li {
    color: #fff;
}

.footer-container nav ul.item3 > li > span {
    color: #000;
}

.footer-container .copy {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-container .copy span {
    color: #fff;
}

.footer-container .copy .input {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    gap: 3px;
}

.footer-container .copy .input > input {
    padding: 0.8rem;
    width: 20rem;
    outline: none;
    border: transparent;

}
.footer-container .copy .input > button {
    width: 20rem;
    cursor: pointer;
    background-color: rgb(49, 70, 228);
    color: #fff;
    padding: 10px 30px;
}