:root {
  --font-family: "Roboto", sans-serif;

  --color: #272722;
  --background-color: #ffffff;

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.movie-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 200px;
    height: 300px;
    cursor: pointer;
}

.movie-card > img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.movie-card .movie-card-title {
    position: absolute;
    bottom: 0;
    width: 100%;    
    height: 30px;
    padding: 0 10px;
    min-width: 0;
     box-shadow: inset 0 -10px 30px 5px rgba(0, 0, 0, 0.9);
} 

.movie-card .movie-card-title h3 {
    color: var(--text);
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
}

.movie-card .movie-card-vote {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #27272288;
    padding: 3px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 9px;
}

.movie-card .movie-card-vote > p,
.movie-card .movie-card-vote > i {
    color: #f0e511;
    font-size: 14px;
}

