.poster-movies-container {
    width: 100%;
    position: relative;
    background-image: url(/img1.png);
    background-position: center;
    background-size: cover;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.poster-movies-container .header-list-movie {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 4rem;
}

.poster-movies-container .header-list-movie h3 {
    color: #ffffff;
}

.poster-movies-container .list-movies {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    overflow: auto;
    height: 250px;
    margin-bottom: 7rem;
}

.poster-movies-container .list-movies::-webkit-scrollbar{
    height: 7px;
}

.poster-movies-container .list-movies::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 1, 0.373);
}

.poster-movies-container .list-movies .card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
}

.poster-movies-container .list-movies .card > img {
    width: 150px;
    height: 210px;
    object-fit: cover;
    border-radius: 6px;
}

.poster-movies-container .list-movies .card .card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 3px 0;
}

.poster-movies-container .list-movies .card .card-title  > p {
    color: #ffffff;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}

.poster-movies-container .title {
    position: absolute;
    top: 5%;  
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.poster-movies-container .title > p {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 550;
}

.poster-movies-container .title > ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.poster-movies-container .title > ul > li {
    font-size: 14px;
    list-style: none;
    transition: all .2s;
    text-underline-offset: 3px;
    cursor: pointer;
    color: #ffffff;
}

.poster-movies-container .title > ul > li:hover {
    text-decoration: 2px underline;
}

.poster-movies-container .search {
    display: flex;
    margin-top: 25px;
    position: absolute;
    top: 0;
    right: 5%;
    width: 350px;
}

.poster-movies-container .search .form__group {
  position: relative;
  padding: 20px 0 0;
  width: 100%;
  display: flex;
  gap: 10px;
}

.poster-movies-container .search .form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.poster-movies-container .search .form__field::placeholder {
  color: transparent;
}

.poster-movies-container .search .form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.poster-movies-container .search .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.poster-movies-container .search .form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.poster-movies-container .search .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.poster-movies-container .search .form__field:required, .form__field:invalid {
  box-shadow: none;
}

.poster-movies-container .search .form__group > button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: transparent;
    color: #ffffff;
    border: 1px solid rgb(217, 217, 219);
    border-radius: 7px;
    font-weight: 550;
    cursor: pointer;
    transition: all .375s;
}

.poster-movies-container .search .form__group > button:hover{
    background-color: #f1f1f133;
}

.poster-movies-container .poster-movies-button {
    position: absolute;
    bottom: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}

.poster-movies-container .poster-movies-button > p {
    color: #ffffff;
    font-size: 1.2rem;
}

.poster-movies-container .poster-movies-button > button {
    padding: 0.7rem;
    border: none;
    background-color: blueviolet;
    color: #ffffff;
    font-weight: 550;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.poster-movies-container .poster-movies-button > button > img {
    width: 20px;
}

.poster-movies-container .poster-movies-button > button:hover {
    background-color: rgb(122, 8, 228);
}


.poster-movies-container .item {
    position: absolute;
    bottom: 5%;
    right: 5%;
    width: 700px;
    background-color: rgba(0, 0, 1, 0.373);
    padding: 20px;
    border-radius: 7px;
}

.poster-movies-container .item p {
    font-size: 16px;
    color: #ffffff;

}