:root {
  --font-family: "Roboto", sans-serif;

  --color: #272722;
  --background-color: #ffffff;

  --background-btn-seeMore: #272727;
  --background-btn-ramdom: rgba(0, 0, 255, 0.656);

  --font-synthesis: none;
  --text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.slideshow-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.slideshow-slider {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  gap: 2rem;
  padding: 0 50px; 
}


.slide {
  /* width: 100%; <- Removed to allow natural sizing from MovieCard */
  box-sizing: border-box;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -30px; /* Adjust to center */
  color: var(--color);
  font-weight: bold;
  font-size: 24px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: transparent;
  border: none;
  z-index: 10;
  transition: all .2s;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev {
  left: 0;
}

.prev:hover, .next:hover {
  color: var(--background-btn-ramdom);
}
