.trailer-lastest {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 2rem 5rem;
    height: 355px;
    gap: 1rem;
}

.traier-popular, .trailer-top-rated, .trailer-now-playing {
    background-size: cover;
    background-position: center;
}


.trailer-popular {
    background-image: url(/cin.png);
    background-position: 50% !important;
}

.trailer-top-rated {
    background-image: url(/cinematic_.png);
}

.trailer-now-playing {
    background-image: url(/ultra.png);
}

.trailer-lastest .trailer-title > h2 {
    color: #ffffff;
    font-size: 18px;
}

.trailer-lastest .trailers-container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    padding: 1rem 0;
}

.trailer-lastest .trailers-container::-webkit-scrollbar {
    height: 6px;
}

.trailer-lastest .trailers-container::-webkit-scrollbar-thumb{
    background-color: rgba(208, 0, 0, 0.889);
    border-radius: 30px;
}

.trailer-lastest .trailers-container::-webkit-scrollbar-thumb:hover{
    background-color: rgb(255, 0, 0);
}

.trailer-lastest .trailers-container .trailer-card{
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}


.trailer-lastest .trailers-container .trailer-card > iframe {
    border-radius: 9px;
}
.trailer-lastest .trailers-container .trailer-card .trailer-card-title {
    min-width: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trailer-lastest .trailers-container .trailer-card .trailer-card-title > p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 550;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
}
